<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>NodeJS Canvas Demo - Signed Request</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="/slds/styles/salesforce-lightning-design-system.min.css"
    />
    <script
      src="/canvas-js-sdk/js/canvas-all.js"
      type="text/javascript"
    ></script>
  </head>
  <body>
    <div class="canvas-app">
      <img src="/nodejs.png" alt="nodejs logo" />
      <p>
        Hello, <%= context.user.firstName %>. This is a web app written in
        Node.js embedded in your Salesforce page (It could also be written in
        any other language).
      </p>
      <p>
        It is aware of its environment. For example, here are a few things it
        knows:
      </p>
      <table>
        <tr>
          <td>User:</td>
          <td><%= context.user.fullName %></td>
        </tr>
        <tr>
          <td>Object:</td>
          <td><%= context.environment.record.attributes.type %></td>
        </tr>
        <tr>
          <td>Id:</td>
          <td><%= context.environment.record.Id %></td>
        </tr>
      </table>
      <p>
        It can also access more data in Salesforce using the REST APIs. With
        context and APIs, Canvas makes it easy to integrate applications written
        in any language inside your Salesforce pages.
      </p>
      <p>
        For example, the QR Code below is generated in Node.js. Scan it to
        create a contact on your mobile phone:
      </p>
      <img src="<%- imgSrc %>" />
      <div>
        <button onclick="fireEvent();">Fire Event</button>
        <h2>Listening to Events</h2>
        <div id="messages"></div>
      </div>
    </div>

    <script type="text/javascript">
      var sr = {};
      var payloadObj = { recommendation: "Verify identity" };
      Sfdc.canvas(function () {
        sr = JSON.parse("<%- sr %>");
        console.log(sr);
      });
      function fireEvent() {
        console.log(sr.client);
        Sfdc.canvas.client.publish(sr.client, {
          name: "suggestion",
          payload: payloadObj,
        });
        console.log("Canvas sent", payloadObj);
      }
      function listenEvents() {
        Sfdc.canvas.client.subscribe(sr.client, {
          name: "recordchanged",
          onData: function (e) {
            console.log("Canvas recevied", e);
            var para = document.createElement("p");
            var node = document.createTextNode(
              "Got data at => " + new Date() + JSON.stringify(e)
            );
            para.appendChild(node);
            document.querySelector("#messages").appendChild(para);
          },
        });
      }
      Sfdc.canvas(function () {
        listenEvents();
      });
    </script>
  </body>
</html>
